AtomPair CB 171A CA 1B FLAT_HARMONIC 8.6 1.0 0.5
AtomPair CB 171A CB 1B FLAT_HARMONIC 9.1 1.0 0.5
AtomPair CB 7A CA 1B FLAT_HARMONIC 7.8 1.0 0.5
AtomPair CB 7A CB 1B FLAT_HARMONIC 9.1 1.0 0.5
AtomPair CB 63A CA 1B FLAT_HARMONIC 6.3 1.0 0.5
AtomPair CB 63A CB 1B FLAT_HARMONIC 6.6 1.0 1.0
AtomPair CB 146A CA 9B FLAT_HARMONIC 6.4 1.0 0.5
AtomPair CB 146A CB 9B FLAT_HARMONIC 7.6 1.0 0.5
AtomPair CB 80A CA 9B FLAT_HARMONIC 5.3 1.0 0.5
AtomPair CB 80A CB 9B FLAT_HARMONIC 5.2 1.0 0.5
AtomPair CB 123A CA 9B FLAT_HARMONIC 9.0 1.0 0.5
AtomPair CB 123A CB 9B FLAT_HARMONIC 7.9 1.0 0.5
AtomPair NE1 73A CA 76A FLAT_HARMONIC 8.0 1.0 0.2
AtomPair NE1 73A CA 70A FLAT_HARMONIC 7.1 1.0 0.2
AtomPair NE1 73A CA 95A FLAT_HARMONIC 11.8 1.0 0.2
AtomPair CZ3 73A CA 95A FLAT_HARMONIC 7.7 1.0 0.2
