#Nterm
AtomPair CA 171A CA 1B FLAT_HARMONIC 9.7 1.0 0.25
AtomPair CA 7A CA 1B FLAT_HARMONIC 9.2 1.0 0.25
AtomPair CA 63A CA 1B FLAT_HARMONIC 6.8 1.0 0.25
#Cterm
AtomPair CA 146A CA 9B FLAT_HARMONIC 7.5 1.0 0.25
AtomPair CA 80A CA 9B FLAT_HARMONIC 7.1 1.0 0.25
AtomPair CA 123A CA 9B FLAT_HARMONIC 10.2 1.0 0.25
#W146
AtomPair CH2 147A CA 73A FLAT_HARMONIC 9.7 1.0 0.25
AtomPair CH2 147A CA 80A FLAT_HARMONIC 11.8 1.0 0.25
AtomPair CH2 147A CA 121A FLAT_HARMONIC 8.7 1.0 0.25
